.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -5em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  color: #fff;
}

.skip-links a:focus {
  top: 0;
}

.masthead {
    text-align: center;
    overflow-x: auto;
}

.all {
    text-align: center;
    padding: auto;
    margin-bottom: 1em;
}

.pug {
    font-family: 'Open Sans Condensed', sans-serif;
    height: 100%;
    position: absolute;
    opacity:0.7;
    box-shadow: 0 0 0px #000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
}   

.fonts {
    font-family: 'Open Sans Condensed', sans-serif;
}

.pug:hover {
  
  border-radius: 20px;
    background-color: none;
    opacity: 1;
}

.shepherd {
    position: relative;
    max-width: 300px;
    min-height: 300px;
    overflow: hidden;
    background: transparent;   
    padding: 5px;
    margin: 5px;
}

.titles {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #393E41;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
	color: inherit;
}

.secondinfo {
    font-family: 'Open Sans Condensed', serif;
    font-size: 14px;
    text-decoration: none;
    color: #587B7F;
}

.white {
    color: white;
}

images {
  width: auto;  
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.lightbox img{
    max-width: 80%;
    max-height: 80%;
    margin-top: 2%;
}

.lightbox:target {
    outline: none;
    display: block;
}

.name {
    color: #587B7F;
    font-size: 2em;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding-left: 2em;
    text-align: left;
}

.script {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 9px;
    padding: 1em;
    margin: auto;
    background-color: #587B7F;
    color: white;
    text-align: left;
}

.navbar {
    text-align: left;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
}

.navbar li {
 display: inline-block;
}